* {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;  
}

body {
  padding-top: 100px;
    margin: auto;
    width: 80%;
    background-color: rgb(235, 252, 235);
}

/* NAVBAR  */

.navbar-light {
  margin-bottom: 100px;
}

.navbar-light .navbar-collapse .div-nav-link {
  display: flex;
}